table {
    border: 0px
}

td {
    border: 0px
}

th {
    text-align: left;
}

.nowrap {
    white-space: nowrap
}

tr.day td {
    border: solid 1px black;
    vertical-align: top;
    width: 125px;
    height: 150px;
}

.daynumber {
    background-color: #cccccc;
    padding: 4px;
    margin-left: -5px;
    border: solid 1px black;
}