table {
    border: 0px
}

td {
    border: 0px
}

th {
    text-align: left;
}

.nowrap {
    white-space: nowrap
}

tr.day td {
    border: solid 1px black;
    vertical-align: top;
    width: 125px;
    height: 150px;
    padding: 0px;
    margin: 0px;
}

.daynumber {
    background-color: #cccccc;
    padding: 10px;
    border: solid 1px black;
    display: table;
}
.innerday {
    padding: 4px;
}

tr.day td.today {
    background-color: #FFCACA;
    border: solid 3px #660000;
}

.weekend {
    background-color: #eeeeee;
}

.event {
    border: solid 1px black;
    background-color: #FDF589;
    margin: 4px;
    padding: 0px 2px;
}