.nowrap {
    white-space: nowrap
}

tr.day td {
    border: solid 1px black;
    vertical-align: top;
    width: 125px;
    height: 150px;
    padding: 0px;
    margin: 0px;
}

.daynumber {
    background-color: #cccccc;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    display: table;
}

.innerday {
    padding: 4px;
}

tr.day td.today {
    background-color: #FFCACA;
    border: solid 3px #660000;
}

tr.day td.today .daynumber {
    background-color: #990000;
    color: white;
    font-weight: bold;
}


.weekend {
    background-color: #eeeeee;
}

.event {
    border: solid 1px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    background-color: #FDF589;
    margin: 4px;
    margin-right: 5px;
    padding: 0px 2px;
}

input#openid_url {
   background: url(http://openid.net/login-bg.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}